@{

    <!DOCTYPE html>
    <html>
    <head>
        <title>Реєстрація успішна</title>
    </head>
    <body>
        <h2>Ви успішно зареєструвались на консультацію!</h2>
        <p>Дякуємо за реєстрацію. Очікуйте нашого фахівця на вказану вами дату.</p>
    </body>
    </html>
}
